<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="demo-pandas-analytics.ZPM">
    <Module>
      <Name>demo-pandas-analytics</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>zpm-registry</Name>
          <Version>1.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>dsw</Name>
          <Version>4.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>mdx2json</Name>
          <Version>3.*</Version>
        </ModuleReference>
      </Dependencies>
      <Parameter Name="SourceDir" Value="analytics" />
      <SourcesRoot>src</SourcesRoot>

      <Invoke Class="Community.Utils" Method="setup">
      <Arg>${cspdir}src/AnalyticsGlobals.gz</Arg>
      </Invoke>
      <Resource Name="Community.Member.cls"/>
      <Resource Name="Community.Utils.cls"/>
      <Resource Name="KPI.DemoPandas.cls"/>
      <Resource Name="KPI.DemoPandasCSV.cls"/>
      <Resource Name="KPI.DemoPandasVar.cls"/>
      <Resource Name="Community.inc"/>

      <FileCopy Name="src/AnalyticsGlobals.gz" Target="${cspdir}src/AnalyticsGlobals.gz"/>
      <FileCopy Name="src/FakeData.csv" Target="${cspdir}src/FakeData.csv"/>
      <FileCopy Name="dsw/analytics.json" Target="${cspdir}dsw/configs/${SourceDir}.json"/>
      <FileCopy Name="dsw/config.json" Target="${cspdir}dsw/configs/${SourceDir}.json"/>
      
      
    </Module>
  </Document>
</Export>
